[submodule "thirdparty/cppzmq"]
	path = thirdparty/cppzmq
	url = git@github.com:zeromq/cppzmq.git
[submodule "thirdparty/libzmq"]
	path = thirdparty/libzmq
	url = git@github.com:zeromq/libzmq.git
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "thirdparty/cmake/sdl2"]
	path = thirdparty/cmake/sdl2
	url = https://github.com/aminosbh/sdl2-cmake-modules.git
[submodule "thirdparty/oscpack"]
	path = thirdparty/oscpack
	url = git@github.com:mkalten/oscpack.git
